#files {
    display: none;
}

#historyData {
    width: 380px;
}

.tabs {
    border-bottom: solid;
    border-bottom-width: 1px;
}

.nav-tabs {
    margin-left: 43%;
}

.mdl-button {
    font-family: 'Roboto';
    font-size: 14 px;
    font-weight: 400 px;
    text-transform: capitalize !important;
    background-color: #eb3a40 !important;
    color: white !important;
}

#addLead {
    background-color: #f15b5d !important;
}

#removeLead {
    background-color: #838483 !important;
    color: white !important;
}

#addToList {
    background-color: #f15b5d !important;
}

#removeDuplicate {
    background-color: #838483 !important;
    color: white !important;
}

#get_file {
    background-color: #838483 !important;
    color: white !important;
}

#addField {
    background-color: #f15b5d !important;
}

#addFieldSign {
    background-color: #f15b5d !important;
}

#removeField {
    background-color: #838483 !important;
    color: white !important;
}

#removeFieldSign {
    background-color: #838483 !important;
    color: white !important;
}

#confirmAdd {
    background-color: #838483 !important;
    color: white !important;
}

#confirmDelete {
    background-color: #838483 !important;
    color: white !important;
    color: white !important;
}

#selectList {
    background-color: #838483 !important;
    color: white !important;
}

#confirmRemove {
    background-color: #838483 !important;
    color: white !important;
}

#deleteFieldButton {
    background-color: #838483 !important;
    color: white !important;
}

#deleteFieldConfirm {
    background-color: #838483 !important;
    color: white !important;
}

#secondRemoveDup {
    background-color: #838483 !important;
    color: white !important;
}

#addFieldButton {
    background-color: #838483 !important;
    color: white !important;
}

.ui-grid-menu .ui-grid-menu-inner ul li button {
    min-width: 100%;
    padding: 8px;
    text-align: left;
    background: transparent;
    border: none;
    outline: none;
}

.ui-grid-menu .ui-grid-menu-inner ul li button:hover {
    color: red !important;
    min-width: 100%;
    padding: 8px;
    text-align: left;
    background: transparent;
    color: #f15b5d;
    outline: none;
}

.ui-grid-menu .ui-grid-menu-inner ul li button.ui-grid-menu-item-active {
    -webkit-box-shadow: inset 0 0 14px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 0 14px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 14px rgba(0, 0, 0, 0.2);
    color: red;
    background: transparent !important;
    outline: none;
    border: 3px solid #f15b5d
}

.ui-grid-grid-footer {
    color: #f15b5d !important;
}

.nav-tabs {
    color: #141213 !important;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus {
    border: none;
    -webkit-box-shadow: inset 0 -2px 0 #f15b5d !important;
    box-shadow: inset 0 -2px 0 #f15b5d !important;
    color: #141213 !important;
}

.nav-tabs>li>a:hover,
.nav-tabs>li>a:focus:hover {
    background-color: transparent;
    -webkit-box-shadow: inset 0 -2px 0 #f15b5d !important;
    box-shadow: inset 0 -2px 0 #f15b5d !important;
    color: #141213 !important;
}