#files {
    display: none;
}

#historyData {
    width: 380px;
}

.mdl-button {
    font-family: 'Roboto';
    font-size: 14 px;
    font-weight: 400 px;
    text-transform: capitalize !important;
    color: #F2F1F1 !important;
    background-color: #eb3a40 !important;
}

#removeLead {
    background-color: #838483 !important;
}

#removeDuplicate {
    background-color: #838483 !important;
}

#get_file {
    background-color: #838483 !important;
}

#removeField {
    background-color: #838483 !important;
}

#confirmAdd {
    background-color: #838483 !important;
}

#confirmDelete {
    background-color: #838483 !important;
}

#selectList {
    background-color: #838483 !important;
}

#confirmRemove {
    background-color: #838483 !important;
}

#deleteField {
    background-color: #838483 !important;
}

#deleteFieldConfirm {
    background-color: #838483 !important;
}

#secondRemoveDup {
    background-color: #838483 !important;
}

#addField {
    background-color: #838483 !important;
}