.btn-default {
    color: #F2F1F1 !important;
    width: 25%;
    height: 200px !important;
}

#corporate {
    float: left;
    font-size: 30px;
    margin-left: 20%;
    background-color: #f15b5d
}

#consumer {
    margin-left: 50px;
    font-size: 30px;
    background-color: #f58a80
}

#corporateIcon,
#consumerIcon {
    font-size: 90px;
}