#login-background {
    height: 100%;
    width: 100%;
    /*background: #F5F5F5;*/
    background-image: url('../images/login-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

body {
    background: #F5F5F5;
    font-family:'Roboto';
}

#login-main {
    margin: auto;
    height: 60%;
    width : 60%;
}

#login-button {
    background-color: #eb3a40;
    text-align:center;
    width:100%;
    font-weight: bold;
}

#login-main {
    background:#7f7f7f;
    background:rgba(255,255,255,0.8);
}

#login-password-input {
    background-color:rgba(255,255,255,0.0);
    border:none;
    color:black;

}

#login-email-input {
    background-color:rgba(255,255,255,0.0);
    border:none;
    color:black;
}

#mdl-textfield {
    border:none;
    border-bottom:3px solid rgba(255,255,255,0.0);
}
.mdl-textfield__label
{   
    font-family:'Roboto';
    font-size: :18 px;
}