#login-background {
    height: 100%;
    width: 100%;
    /*background: #F5F5F5;*/
    background-image: url('../images/login-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

body {
    background: #F5F5F5;
}

#login-main {
    margin: auto;
    height: 500px;
}

#login-button {
    background-color: #eb3a40;
}

#login-main {
    background:#7f7f7f;
    background:rgba(255,255,255,0.8);
}

.mdl-textfield__label {
    background:#7f7f7f;
    background:rgba(255,255,255,0.8);
}