/*#login-background {
    height: 100%;
    width: 100%;*/


/*background: #F5F5F5;*/


/*background-image: url('../images/login-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}*/

.mdl-layout mdl-js-layout {
    height: 100%;
    width: 100%;
    /*background: #F5F5F5;*/
    background-image: url('../images/login-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

body {
    background: #F5F5F5;
}

#login-heading {
    background: #607d8b;
}

#login-main {
    margin: auto;
    height: 380px;
}

#login-button {
    width: 100%;
}

#login-main {
    background: white;
}