.mailGrid {
    width: 960px !important;
    margin: auto;
}

.grid1 {
    height: 300px !important;
}

#showFailure {
  height: auto;
  width: 300px;
}

.mdl-button--raised.mdl-button--colored {
{
	background-color: #f15bfd;
	text-transform:capitalize;
}
#deleteMLButton
{
	background-color: #838483;
	text-transform:capitalize;
}