.details {
    text-align: center;
    font-weight: 900;
    font-style: italic;
    /*color: #9AD3DC;*/
    color: #3399FF
}

.moreDetails {
    text-align: center;
}

.progress {
    width: 500px;
    margin: auto;
}

.apiKey {
    font-weight: 900;
    font-style: italic;
}

.modal-body {
    text-align: center;
}