 .mdl-button {
     font-family: 'Roboto' !important;
     font-size: 14 px;
     font-weight: 400 px;
     text-transform: capitalize !important;
     background-color: #eb3a40 !important;
     color: #F2F1F1 !important;
 }
 
 #confirmDelete {
     background-color: #838483 !important;
 }
 
 .tabs {
     border-bottom: solid;
     border-bottom-width: 1px;
 }
 
 .nav-tabs {
     margin-left: 500px;
 }