<link rel="stylesheet" href="assets/css/mailList.css" />

<div ng-controller="mailListController" > 
    <br> 
    <ul class="nav nav-tabs">
        <li class=""><a ui-sref="leadlist" data-toggle="tab" ng-click= "refresh()">LeadList</a></li>
        <li class="active"><a ui-sref="maillist" data-toggle="tab" ng-click= "refresh()">Mailing List</a></li>
        <li class=""><a ui-sref="blacklist" data-toggle="tab" ng-click= "refresh()">BlackList</a></li>
    </ul>

    <div id='addFeedbackID' class="mdl-js-snackbar mdl-snackbar">
        <div class="mdl-snackbar__text"></div>
        <button class="mdl-snackbar__action" type="button"></button>
    </div>

    <br><br>
    <div class="mailGrid">
        <div class="grid1" ui-grid="gridOptions" ui-grid-selection ui-grid-edit ui-grid-resize-columns></div>
        <br>
        <button ng-click="openDialog('addMailList')" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">Add Mailing List</button>
        <button ng-click="openDialog('deleteConfirmation')" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Delete Mailing List</button>
    </div>

    <dialog id="deleteConfirmation" class="mdl-dialog" >
        <div class="mdl-dialog__content">
            <p>
                Are you sure?
            </p>
            <div class="mdl-dialog__actions">
                <button id="cancel" type="button" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent" ng-click="closeDialog('deleteConfirmation')">No</button>
                <button type="button" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored" ng-click="deleteSelected(); closeDialog('deleteConfirmation')">Yes</button> 
            </div>     
        </div>        
    </dialog>

    <dialog id="addMailList" class="mdl-dialog" >
        <div class="mdl-dialog__content">
            <p>
                Please enter the details.
            </p>
            <form class="add-maillist-form" ng-submit="addMailList()">
                <div class="mdl-textfield mdl-js-textfield">
                    <label for="mailListName">Name</label>
                    <input class="mdl-textfield__input" type="text" id="mailListName" ng-model="mailListName">
                </div>

                <div class="mdl-dialog__actions">
                    <button id="cancel" type="button" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent" ng-click="closeDialog('addMailList') ; addFeedback()">Close</button>
                    <button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored">Add</button> 
                </div>     
            </form> 
        </div>        
    </dialog>
    
</div>


