<link rel="stylesheet" href="assets/css/mailList.css" />

<div ng-controller="mailListController as mc">
    <br>
    <ul class="nav nav-tabs">
        <li class=""><a ui-sref="leadlist" data-toggle="tab" ng-click="mc.refresh()">LeadList</a></li>
        <li class="active"><a ui-sref="maillist" data-toggle="tab" ng-click="mc.refresh()">Mailing List</a></li>
        <li class=""><a ui-sref="blacklist" data-toggle="tab" ng-click="mc.refresh()">BlackList</a></li>
    </ul>
    <br><br>
    <div class="mailGrid">
        <div class="grid1" ui-grid="mc.gridOptions" ui-grid-selection ui-grid-edit ui-grid-resize-columns></div>
        <br>
        <button ng-click="mc.openDialog('addMailList')" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">Add Mailing List</button>
        <button ng-click="mc.openDialog('deleteConfirmation')" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Delete Mailing List</button>
    </div>

    <dialog id="deleteConfirmation" class="mdl-dialog">
        <div class="mdl-dialog__content">
            <p>
                Are you sure?
            </p>
            <div class="mdl-dialog__actions">
                <button id="cancel" type="button" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent" ng-click="mc.closeDialog('deleteConfirmation')">No</button>
                <button type="button" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored" ng-click="mc.deleteSelected(); mc.closeDialog('deleteConfirmation')">Yes</button>
            </div>
        </div>
    </dialog>

    <dialog id="addMailList" class="mdl-dialog">
        <div class="mdl-dialog__content">
            <p>
                Please enter the details.
            </p>
            <form class="add-maillist-form" ng-submit="mc.addMailList()">
                <div class="mdl-textfield mdl-js-textfield">
                    <label for="mailListName">Name</label>
                    <input class="mdl-textfield__input" type="text" id="mailListName" ng-model="mc.mailListName">
                </div>

                <div class="mdl-dialog__actions">
                    <button id="cancel" type="button" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent" ng-click="mc.closeDialog('addMailList')">Close</button>
                    <button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored" ng-click="mc.closeDialog('addMailList')">Add</button>
                </div>
            </form>
        </div>
    </dialog>

<div ng-controller="mailListController as mc" class="md-padding dialogdemoBasicUsage" id="popupContainer" ng-cloak="" ng-app="app">
<div class="dialog-demo-content" layout="row" layout-wrap="" layout-margin="" layout-align="center"></div>
    </div>
    </div>