<link rel="stylesheet" href="assets/css/blackList.css" />
<div ng-controller="blackListController as bc">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <!---------------------------------------- Ng-include nav bars ---------------------------------------->
        <div ng-include="'NavBarMgmt/mainTab.html'"></div>
    </div>
    <br>
    <br>
    <br>
    <div class='tabs'>
        <ul class="nav nav-tabs">
            <li class=""><a ui-sref="leadlist" data-toggle="tab" ng-click="bc.refresh()">LeadList</a></li>
            <li class=""><a ui-sref="maillist" data-toggle="tab" ng-click="bc.refresh()">Mailing List</a></li>
            <li class="active"><a ui-sref="blacklist" data-toggle="tab" ng-click="bc.refresh()">BlackList</a></li>
        </ul>
    </div>

    <div id="myTabContent" class="tab-content">
        <br>
        <div ng-controller="domainsController as dc">
            <div id="grid2">
                <div>
                    <span style="font-size:24px"><b>Blocked Domains</b></span>
                    <button ng-click="dc.openDialog('addDomain')" class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect mdl-button--colored pull-right" id="addFieldButton" style="margin-left:20px !important;">
                        <i class="material-icons md-48" id="addFieldSign">add_circle</i>
                    </button>
                    <button ng-click="dc.openDialog('deleteDomain')" class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect mdl-button--accent pull-right " id="removeFieldButton" style="margin-left:20px !important;">
                        <i class="material-icons md-48" id="removeFieldSign">remove_circle</i>
                        </button>
                </div>
                <br>
                <div ui-grid="dc.gridOptions" ui-grid-edit ui-grid-resize-columns></div>
            </div>
        </div>
        <br><br><br><br><br><br>
        <div class="blockedLeads">
            <h3>Blocked Leads</h3>
            <div id="grid1" ui-grid="bc.gridOptions" ui-grid-selection ui-grid-edit ui-grid-resize-columns class="grid"></div>
            <br>
            <button ng-click="bc.openDialog('deleteLeads')" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="delBlackLead">Delete Blacklead</button>
            <br><br>
        </div>
        <div>
            <dialog id="deleteLeads" class="mdl-dialog">
                <div class="mdl-dialog__content">
                    <p>
                        Are you sure?
                    </p>
                    <div class="mdl-dialog__actions">
                        <button id="cancel" type="button" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent" ng-click="bc.closeDialog('deleteLeads')">No</button>
                        <button id='addLeadConfirm' type="button" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored" ng-click="bc.deleteSelected(); bc.closeDialog('deleteLeads')">Yes</button>
                    </div>
                </div>
            </dialog>
        </div>

        <div ng-controller="domainsController as dc">
            <dialog id="addDomain" class="mdl-dialog">
                <div class="mdl-dialog__content">
                    <p>
                        Please enter the details.
                    </p>
                    <form class="add-domain-form" ng-submit="dc.addDomain()">
                        <div class="mdl-textfield mdl-js-textfield">
                            <label for="domain">Domain</label>
                            <input class="mdl-textfield__input" type="text" id="domain" ng-model="dc.domainSelected">
                        </div>

                        <div class="mdl-dialog__actions">
                            <button id="cancel" type="button" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent" ng-click="dc.closeDialog('addDomain')">Close</button>
                            <button id='addDomainConfirm' type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored" ng-click="dc.closeDialog('addDomain')">Add</button>
                        </div>
                    </form>
                </div>
            </dialog>

            <dialog id="deleteDomain" class="mdl-dialog">
                <div class="mdl-dialog__content">
                    <p>
                        Please select the domain.
                    </p>
                    <form class="delete-domain-form" ng-submit="dc.selectDeleteDomain()">
                        <select ng-model="dc.domainSelected">
                            <option ng-repeat="domain in dc.gridOptions.data">{{domain.domain}}</option>
                        </select>
                        <div class="mdl-dialog__actions">
                            <button id="cancel" type="button" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent" ng-click="dc.closeDialog('deleteDomain')">Close</button>
                            <button id='deleteDomainConfirm' type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored" ng-click="dc.openDialog('deleteDomainConfirmation')">Delete</button>
                        </div>
                    </form>
                </div>
            </dialog>

            <dialog id="deleteDomainConfirmation" class="mdl-dialog">
                <div class="mdl-dialog__content">
                    <p>
                        Are you sure?
                    </p>
                    <form class="delete-domain-form" ng-submit="dc.deleteDomain()">
                        <div class="mdl-dialog__actions">
                            <button id="cancel" type="button" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent" ng-click="dc.closeDialog('deleteDomainConfirmation')">No</button>
                            <button id='deleteDomainConfirm' type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored" ng-click="dc.closeDialog('deleteDomainConfirmation'); dc.closeDialog('deleteDomain')">Yes</button>
                        </div>
                    </form>
                </div>
            </dialog>
        </div>
    </div>
</div>