<div ng-controller="mailListController" >
<div class="mdl-tabs__tab-bar" ng-include = "'ContactsMgmt/partials/contactsTabs.html'"></div>
<br>
<div id="grid1" ui-grid="gridOptions" ui-grid-selection ui-grid-edit class="grid"></div>
<br>
<button ng-click="openDialog('addMailList')" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">Add Mailing List</button>
<button ng-click="deleteSelected()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Delete Mailing List</button>
<dialog id="addMailList" class="mdl-dialog" >
                <div class="mdl-dialog__content">
                <p>
                    Please enter the details.
                </p>
                <form class="add-maillist-form" ng-submit="addMailList()">
                        <div class="mdl-textfield mdl-js-textfield">
                            <label for="mailListName">Name</label>
                            <input class="mdl-textfield__input" type="text" id="mailListName" ng-model="mailListName">
                            </div>

                        <div class="mdl-dialog__actions">
                            <button id="cancel" type="button" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent" ng-click="closeDialog('addMailList')">Close</button>
                            <button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored">Add</button> 
                            </div>     
                    </form>
                <p> {{addResult}} </p>  
                </div>        
            </dialog>
</div>


