<link rel="stylesheet" type="text/css" href="assets/css/userMgmtProfile.css">
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <!---------------------------------------- Ng-include nav bars ---------------------------------------->
    <div ng-include="'NavBarMgmt/mainTab.html'"></div>
</div>
<br>
<div class="page-container" ng-controller="userMgmtProfileController as uc">

    <div class="row row-offcanvas row-offcanvas-left">

        <!--include tabs-->
        <div class='tabs'>
            <ul class="nav nav-tabs">
                <li class="active"><a ui-sref="userManagementprofile" data-toggle="tab">Company Profile</a></li>
                <li><a ui-sref="userManagementAdmin" data-toggle="tab">Manage Users</a></li>
            </ul>
        </div>
        <br>

        <div class="container">
            <div class="modal-body row pull-left">
                <!--<div class="col-md-6">-->
                <!-- Your first column here -->
                <h3>Company Profile</h3><br>
                <div class="form-group has-error">
                    <label for="inputEmail" class="col-lg-2 control-label">Company Name:</label>
                    <div class="col-lg-12">
                        <input type="text" class="form-control" id="companyName" placeholder="Company Name" ng-model="uc.company">
                    </div>
                </div>
                <br>
                <h5>Subsciption Type:</h5>
                <div id='first' ng-show="uc.checkConsumer">
                    <i class="material-icons">check_box</i>Consumer
                </div>
                <div id='second' ng-show="uc.checkCorporate">
                    <i class="material-icons">check_box</i>Corporate
                </div>
            </div><br>
        </div>
        <br><br>
    </div>
    <div id="userFeedback" aria-live="assertive" aria-atomic="true" aria-relevant="text" class="mdl-js-snackbar mdl-snackbar">
        <div class="mdl-snackbar__text"></div>
        <button class="mdl-snackbar__action" type="button"></button>
    </div>
</div>