<link rel="stylesheet" type="text/css" href="assets/css/userMgmtProfile.css">
<br>
<div class="page-container" ng-controller="userMgmtProfileController as uc">

    <div class="row row-offcanvas row-offcanvas-left">

        <!--include tabs-->
        <ul class="nav nav-tabs">
            <li class="active"><a ui-sref="userManagementprofile" data-toggle="tab">Company Profile</a></li>
            <li><a ui-sref="userManagementAdmin" data-toggle="tab">Manage Users</a></li>
        </ul>
        <br>
        <div class="container">

            <div class="modal-body row">
                <div class="col-md-6">
                    <!-- Your first column here -->
                    <h3>Company Details</h3><br>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input id="username" class="mdl-textfield__input" type="text" placeholder="Name" ng-model="uc.company" />
                        <label class="mdl-textfield__label" for="companyName">Company Name:</label>
                    </div>
                    <br>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input id="username" class="mdl-textfield__input" type="text" placeholder="Email" ng-model="uc.email" />
                        <label class="mdl-textfield__label" for="email">Email Address:</label>
                    </div>
                    <br>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input id="username" class="mdl-textfield__input" type="text" placeholder="Email" ng-model="uc.type" />
                        <label class="mdl-textfield__label" for="type">Subscription Type:</label>
                    </div>
                </div>

                <div class="col-md-6 apiKey">
                    <!-- Your second column here -->
                    <h3>API Keys</h3><br>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input id="username" class="mdl-textfield__input" type="text" placeholder="MailChimp API Key" ng-model="uc.mailChimpAPI" />
                        <label class="mdl-textfield__label" for="mailchimp">MailChimp API Key:</label>
                    </div>
                    <br>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input id="username" class="mdl-textfield__input" type="text" placeholder="Google API Key" ng-model="uc.googleAPI" />
                        <label class="mdl-textfield__label" for="google">Google API Key:</label>
                    </div>
                </div>
            </div><br>
        </div><br>
        <div class="moreDetails" ng-init="moreDetails = false">
            <input type="checkbox" name="showMore" ng-model="moreDetails"> Show Expiration Date
            <br><br>
            <div ng-show="moreDetails">
                <h4>Expiry: {{ uc.expiry }}</h4>
                <h4>Storage Utilization: </h4>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ uc.storage }}%;">
                        {{ uc.storage }}%
                    </div>
                </div>
            </div>
            <br><br>
        </div>
    </div>
</div>