<link rel="stylesheet" type="text/css" href="assets/css/userMgmtProfile.css">
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <!---------------------------------------- Ng-include nav bars ---------------------------------------->
    <div ng-include="'NavBarMgmt/mainTab.html'"></div>
</div>
<br>
<div class="page-container" ng-controller="userMgmtProfileController as uc">

    <div class="row row-offcanvas row-offcanvas-left">

        <!--include tabs-->
        <ul class="nav nav-tabs">
            <li class="active"><a ui-sref="userManagementprofile" data-toggle="tab">Company Profile</a></li>
            <li><a ui-sref="userManagementAdmin" data-toggle="tab">Manage Users</a></li>
        </ul>
        <br>

        <div class="container">
            <div class="modal-body row pull-left">
                <!--<div class="col-md-6">-->
                <!-- Your first column here -->
                <h2>Company Profile</h2><br>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input id="companyName" class="mdl-textfield__input" type="text" placeholder="Name" ng-model="uc.company" />
                    <label class="mdl-textfield__label" for="companyName">Company Name:</label>
                </div>
                <br>
                <div class="form-group">
                    <label for="inputEmail" class="col-lg-2 control-label">Company Name:</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="companyName" placeholder="Company Name" ng-model="uc.company">
                    </div>
                </div>
                <!--<br>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input id="username" class="mdl-textfield__input" type="text" placeholder="Email" ng-model="uc.email" />
                    <label class="mdl-textfield__label" for="email">Email Address:</label>
                </div>-->
                <!--<h4>Subsciption Type:</h4>
                <h5 ng-repeat="type in uc.type"><i class="material-icons">check_box</i>{{type}}</h5>-->
                <!--</div>-->

                <br>
                <h5>Subsciption Type:</h5>
                <div id='first' ng-show="uc.checkConsumer">
                    <i class="material-icons">check_box</i>Consumer
                    <!--<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
                        <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" checked>
                        <span class="mdl-checkbox__label">Consumer</span>
                    </label>-->
                </div>
                <div id='second' ng-show="uc.checkCorporate">
                    <i class="material-icons">check_box</i>Corporate
                    <!--<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-2">
                        <input type="checkbox" id="checkbox-2" class="mdl-checkbox__input" checked>
                        <span class="mdl-checkbox__label">Corporate</span>
                    </label>-->
                </div>
            </div><br>
        </div>
        <br><br>
    </div>
    <div id="userFeedback" aria-live="assertive" aria-atomic="true" aria-relevant="text" class="mdl-js-snackbar mdl-snackbar">
        <div class="mdl-snackbar__text"></div>
        <button class="mdl-snackbar__action" type="button"></button>
    </div>
</div>