<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,900' rel='stylesheet' type='text/css'>
<style>
    .mdl-layout__header-row {
        background-color: #eb3a40;
        font-family: 'Roboto';
        text-transform: capitalize;
    }
    
    .mdl-button {
        font-family: 'Roboto';
        font-size: : 14 px;
        font-weight: 400 px;
        text-transform: capitalize;
        color: #F2F1F1;
    }
    
    .mdl-button:hover {
        font-weight: 900 !important;
        color: #F2F1F1;
        text-decoration: underline;
        background-color: #eb3a40;
    }
</style>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" ng-controller="navBarController as vm">
    <header class="mdl-layout__header ">
        <div class="mdl-layout__header-row ">
            <!-- Title -->
            <span class="mdl-layout-title mdl "> <a style="color:#F2F1F1; " ui-sref="home "><b>BulletLeads</b></a></span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer "></div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only ">
                <a class="mdl-button mdl-js-button " ng-style="vm.leadMgmtStyle" ui-sref="leadlist " ng-if="vm.showLead " ng-click="vm.update() ">Lead Management</a>
                <a class="mdl-button mdl-js-button " ng-style="vm.leadFinderStyle" ui-sref=" leadFinder " ng-show="vm.showFinder " ng-click="vm.update() ">Lead Finder</a>
                <a class="mdl-button mdl-js-button " ng-style="vm.accountSettingsStyle" ui-sref="profile " ng-show="vm.showAccount " ng-click="vm.update() ">Account</a>
                <a class="mdl-button mdl-js-button " ng-style="vm.userMgmtStyle" ui-sref=" userManagementprofile " ng-show="vm.showUser " ng-click="vm.update() ">User Management</a>
                <a class="mdl-button mdl-js-button " ng-style="vm.databaseMgmtStyle" ui-sref="externalDB " ng-show="vm.showDatabase " ng-click="vm.update() ">Database Management</a>
                <a class="mdl-button mdl-js-button " href=" https://login.mailchimp.com/?_ga=1.172980195.1794096345.1467606105&wcookie=2c50d50ce1f2adcc1ff6 " target="_blank ">MailChimp</a>
                <a style="color:#F2F1F1;font-weight:900; " class="mdl-button mdl-js-button " ng-click="vm.logout() " ng-show="vm.showLogout ">Logout</a>
            </nav>
        </div>
    </header>
</div>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a class="navbar-brand" href="#">Brand</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Link</a></li>
            </ul>
        </div>
    </div>
</nav>