<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,900' rel='stylesheet' type='text/css'>
<style>

.mdl-layout__header-row {
    background-color:#eb3a40;
    font-family: 'Roboto';
    text-transform:capitalize;

}
.mdl-button{
    font-family:'Roboto';
    font-size: :14 px;
    font-weight:400 px;
    text-transform:capitalize;
    color:#F2F1F1;
}
.mdl-button:hover{
    font-weight:900 !important;
    color:#F2F1F1;
    text-decoration: none;

}
</style>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" ng-controller="navBarController as vm">
    <header class="mdl-layout__header ">
        <div class="mdl-layout__header-row ">
            <!-- Left aligned menu below button -->
            <!--<button id=" demo-menu-lower-left " class="mdl-button mdl-js-button mdl-button--icon " ng-click="vm.update() ">
                    <i class="material-icons ">more_vert</i>
                </button>

        <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect " for="demo-menu-lower-left ">
            <li class="mdl-menu__item " ui-sref="leadlist " ng-show="vm.showLead ">Lead Management</li>
            <li class="mdl-menu__item " ui-sref=" leadFinder " ng-show="vm.showFinder ">Lead Finder</li>
            <li class="mdl-menu__item " ui-sref="profile " ng-show="vm.showAccount ">Account Settings</li>
            <li class="mdl-menu__item " ui-sref=" userManagementprofile " ng-show="vm.showUser ">User Management</li>
            <li class="mdl-menu__item " ui-sref="externalDB " ng-show="vm.showDatabase ">Database Management</li>
            <a class="mdl-menu__item " href=" https://login.mailchimp.com/?_ga=1.172980195.1794096345.1467606105&wcookie=2c50d50ce1f2adcc1ff6 " target="_blank ">MailChimp</a>
            <li class="mdl-menu__item " ng-click="vm.logout() " ng-show="vm.showLogout ">Logout</li>
            </li>
        </ul>-->
            <!-- Title -->
            <span class="mdl-layout-title mdl "> <a style="color:#F2F1F1; " ui-sref="home "><b>BulletLead</b></a></span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer "></div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only ">
                <a  class="mdl-button mdl-js-button " ng-style="vm.leadMgmtStyle" ui-sref="leadlist " ng-if="vm.showLead " ng-click="vm.update() ">Lead Management</a>
                <a class="mdl-button mdl-js-button " ng-style="vm.leadFinderStyle"  ui-sref=" leadFinder " ng-show="vm.showFinder " ng-click="vm.update() ">Lead Finder</a>
                <a  class="mdl-button mdl-js-button " ng-style="vm.accountSettingsStyle"  ui-sref="profile " ng-show="vm.showAccount " ng-click="vm.update() ">Account Settings</a>
                <a   class="mdl-button mdl-js-button " ng-style="vm.userMgmtStyle"   ui-sref=" userManagementprofile " ng-show="vm.showUser " ng-click="vm.update() ">User Management</a>
                <a  class="mdl-button mdl-js-button " ng-style="vm.databaseMgmtStyle"   ui-sref="externalDB " ng-show="vm.showDatabase " ng-click="vm.update() ">Database Management</a>
                <a  class="mdl-button mdl-js-button " href=" https://login.mailchimp.com/?_ga=1.172980195.1794096345.1467606105&wcookie=2c50d50ce1f2adcc1ff6 " target="_blank ">MailChimp</a>
                <a style="color:#F2F1F1;font-weight:900; " class="mdl-button mdl-js-button " ng-click="vm.logout() " ng-show="vm.showLogout ">Logout</a>
            </nav>
        </div>
    </header>
</div>