<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="assets/css/loginPage.css">
<!---------------------------------------- Forgot password dialog ---------------------------------------->

    <div class="mdl-layout mdl-js-layout" ng-controller="loginCtrl as vm">
        <div id="login-background" class="mdl-grid">
            <!---------------------------------------- Login main ---------------------------------------->
            <div id="login-main" class="mdl-card" align="center">
                <main class="mdl-layout__content" align="center">
                    <div id="login-heading" class="mdl-card__title mdl-color-text--white" style="margin-top:25px;">
                        <img src="assets/images/bulletlead-logo.png" align="center" style="width:190px;height:150px;margin:0 auto;">
                    </div>
                    <div class="mdl-card__supporting-text">
                        <!---------------------------------------- Login form ---------------------------------------->
                        <form id="login-form" align="left">
                            <!-- Email input -->
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="margin-left:30px;">
                                <input id="login-email-input" ng-model="vm.loginEmail" class="mdl-textfield__input" type="email" ng-required="true" />
                                <label class="mdl-textfield__label" for="login-email-input" style="color:black;font-size:20px;">Email...</label>
                            </div>
                            <br>
                            <!-- Password input -->
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="margin-left:30px;">
                                <input id='login-password-input' ng-model="vm.password" class="mdl-textfield__input" type="password" ng-required="true"/>
                                <label class="mdl-textfield__label" for='login-password-input' style="color:black;font-size:20px;">Password...</label>
                            </div>
                            <!-- Login button -->
                            <div class="mdl-card__actions" align="center" style="margin-left:25px;">
                                <button align="center" id="login-button" type="submit" ng-click="vm.validateBeforeLogin()" class="mdl-button mdl-button--colored mdl-button--raised mdl-js-button mdl-js-ripple-effect" style="font-size:18px;font-variant:normal;">Log in
                        </button>
                            </div>
                        </form>
                        <br>
                        <div class="mdl-card__actions mdl-card--border" style="margin-left:25px;" align="left">
                            <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" style="color:black;font-weight:bold;font-variant:normal;font-size:18px;" ng-click="vm.openDialog()">Forgot password?</button>
                        </div>
                    </div>
                </main>
            </div>
    <dialog id="forgot-password-dialog" class="mdl-dialog">
        <form>
            <div class="mdl-dialog__content">
                <div id="forgot-password-username-textbox">
                    <p>Please enter your email.</p>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input ng-model="vm.forgotPasswordEmail" class="mdl-textfield__input" type="text" ng-required="true" />
                        <label class="mdl-textfield__label" for="vm.forgotPasswordEmail">Email</label>
                    </div>
                </div>
            </div>
            <div class="mdl-dialog__actions">
                <button id="cancel" type="button" class="mdl-button" ng-click="vm.closeDialog()">Cancel</button>
                <div class="mdl-layout-spacer"></div>
                <button id="next" type="submit" class="mdl-button" ng-click="vm.validateBeforeSend();">Next</button>
            </div>
        </form>
    </dialog>
            <!---------------------------------------- Feedback message snackbar ---------------------------------------->
            <div id="login-feedbackMessage" aria-live="assertive" aria-atomic="true" aria-relevant="text" class="mdl-js-snackbar mdl-snackbar">
                <div class="mdl-snackbar__text"></div>
                <button class="mdl-snackbar__action" type="button"></button>
            </div>
        </div>
    </div>
